@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border-radius: 0.5rem;
  --primary-color: #00040e;
  --accent-color: #0c99e4; /*11b780, 00BCD4*/
  --black-1: #15171c;

}

html {
  background-color: var(--primary-color);
}

@layer utilities {
  /* Typography Utilities */
  .text-12 { @apply text-[12px] leading-normal; }
  .text-14 { @apply text-[14px] leading-normal; }
  .text-16 { @apply text-[16px] leading-normal; }
  .text-18 { @apply text-[18px] leading-normal; }
  .text-20 { @apply text-[20px] leading-normal; }
  .text-24 { @apply text-[24px] leading-normal; }
  .text-32 { @apply text-[32px] leading-normal; }

  /* Form Styling */
  .input-class {
    @apply text-16 placeholder:text-16 bg-black-1 rounded-[var(--border-radius)] placeholder:text-gray-1 border-none text-gray-1;
  }

  /* Grid Layouts */
  .podcast_grid {
    @apply grid grid-cols-2 gap-7 sm:grid-cols-2 lg:grid-cols-4 2xl:grid-cols-4 overflow-visible;
  }

  /* Hover & Transition Effects */
  .podcast_item {
    @apply transition-all transform duration-300 ease-in-out;
  }
  .podcast_item:hover {
    @apply scale-105 shadow-lg bg-opacity-90;
  }

  /* Sidebar Styles */
  .right_sidebar {
    @apply sticky right-0 top-0 flex w-[310px] flex-col overflow-y-hidden border-none bg-black-1 px-[30px] pt-8 max-xl:hidden;
  }
  .left_sidebar {
    @apply sticky left-0 top-0 flex w-fit flex-col justify-between border-none bg-black-1 pt-8 text-white-1 max-md:hidden lg:w-[270px] lg:pl-8;
  }

  /* Thumbnail Generator */
  .generate_thumbnail {
    @apply mt-[30px] flex w-full max-w-[520px] flex-col justify-between gap-2 rounded-lg border border-black-6 bg-black-1 px-2.5 py-2 md:flex-row md:gap-0;
  }

  /* Image and Carousel Styles */
  .image_div {
    @apply flex-center mt-5 h-[142px] w-full cursor-pointer flex-col gap-3 rounded-xl border-[3.2px] border-dashed border-black-6 bg-black-1;
  }
  .carousel_box {
    @apply relative flex h-fit aspect-square w-full flex-none cursor-pointer flex-col justify-end rounded-xl border-none;
  }

  /* Button Styles */
  .button_bold-16 {
    @apply text-[16px] font-bold text-white-1 transition-all duration-500;
  }

  /* Flex Utilities */
  .flex-center {
    @apply flex items-center justify-center;
  }
  .text-gradient {
    @apply bg-gradient-to-br from-teal-200 via-cyan-400 to-blue-600 text-transparent bg-clip-text;
  }
  .text-neon-blue {
    color: #00f0ff;
    text-shadow: 0 0 5px #00f0ff, 0 0 10px #00f0ff, 0 0 20px #00f0ff;
}
  .text-neon-blue:hover {
    text-shadow: 0 0 10px #00f0ff, 0 0 20px #00f0ff, 0 0 30px #00f0ff; 
  }
  
  

  /* Scrollbar Customization */
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: var(--black-1);
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--black-6);
    border-radius: 50px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Glassmorphism Effects */
  .glassmorphism {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
  .glassmorphism-auth {
    background: rgba(6, 3, 3, 0.711);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
  .glassmorphism-black {
    background: rgba(18, 18, 18, 0.64);
    backdrop-filter: blur(37px);
    -webkit-backdrop-filter: blur(37px);
  }
}

/* ==== Clerk Overrides ==== */
.cl-socialButtonsIconButton {
  border: 2px solid var(--black-6);
}
.cl-button {
  color: white;
}
.cl-socialButtonsProviderIcon__github {
  filter: invert(1);
}
.cl-formButtonPrimary {
  background: #00BCD4;
}
.cl-footerActionLink {
  color: #00BCD4;
}
.cl-headerSubtitle {
  color: #c5d0e6;
}
.cl-logoImage {
  width: 10rem;
  height: 3rem;
}
.cl-userButtonPopoverActionButtonIcon {
  color: white;
}
.cl-internal-wkkub3 {
  color: #00BCD4;
}
